

.page-header {
    font-family: futura;
    font-size: 22px;
}
   .page-subheader {

    font-size: 18px;
}
   .paragraph-section {
    margin-bottom: 40px;
}
   .paragraph-section p {
    line-height: 1.65;
}

.link {
    color: rgb(140, 48,48);
    font-weight: bold;
}