.navBar {
  background-color: #f2f2f2;
  overflow: hidden;
  display: flex;
  align-items: left;
  border-bottom: solid;
  padding: 15px;
  border-width: 4px;
  border-bottom-color: rgb(140, 48, 48);
}

#navbar-logo{
  height: 30px;
  width: 30px;
  margin-right: 8px;
}
.logoTitle {
  display: flex;
  align-items: center;
}

#navbar-title {
  font-weight: bold;
}

@media screen and (max-width: 480px) {
  .navBar {
    flex-direction: column;
    border-width: 2.5px;

  }

  #navbar-logo{
    height: 24px;
    width: 24px;
    margin-right: 4px;
  }

}