@font-face {
    font-family: 'AvenirLTStd-Black';
    src: local('AvenirLTStd-Black'), url(../assets/fonts/Avenir/avenir_ff/AvenirLTStd-Black.otf) format('otf');
  }
.bannerWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}
.banner {
  margin-top: 10px;
  background-color: #f2f2f2;
  max-width: 650px;
  padding: 10px;
  box-shadow: 4px 4px 6px -4px rgb(0 0 0 / 40%);
  display: flex;
  justify-content: center;
}
.bannerLeft {
  min-width: 230px;
  font-family: Avenir;
  font-size: 16px;
  box-sizing: border-box;
}

.bHeader {
  color: rgb(140, 48, 48);
  font-size: 40px;
  font-family: futura;
}

.bStudentHeader {
  font-size: 40px;
  font-family: futura;
}
.bannerRightOk {
  color: #212529;
  margin-left: 30px;
  width: 50%;
  text-align: left;
  margin-bottom: 1rem;
  font-family: AvenirLTStd-Black;
}
